<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h2>Create a new User below:</h2>
    <form class="register" action="/register" method="post">

      <div class="">

      <label for="">Username</label>
      <input type="text" name="username" value="">
      </div>

      <div class="">
      <label>Password</label>
      <input type="password" name="password" value="">
      </div>

      <div class="">
      <button type="submit" name="submitButton">Create New User</button>
      </div>

    </form>
  </body>
</html>
